<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Delicious Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/Template/Delicious/assets/img/favicon.png" rel="icon">
    <link href="/Template/Delicious/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Template/Delicious/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Template/Delicious/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/Template/Delicious/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Template/Delicious/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Template/Delicious/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/Template/Delicious/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/Template/Delicious/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Delicious - v2.2.1
    * Template URL: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body  style="background:#000000;">

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top topbar-transparent">
        <div class="container text-right">
            <i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 08:00 AM - 23:00 PM
        </div>
    </section>
      
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="/Home/Index"><span>Delicious</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="/Template/Delicious/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                @Html.Partial("LoginPartial")
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <!-- End Hero -->
    @RenderBody()
    <!-- End #main -->
    <footer id="footer" style="background:#000000;">
        <div class="container">
            <h3>Delicious</h3>

            <div class="social-links">
                <a href="https://twitter.com" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.facebook.com" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


    <!-- Vendor JS Files -->
    <script src="/Template/Delicious/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Template/Delicious/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Template/Delicious/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/Template/Delicious/assets/vendor/php-email-form/validate.js"></script>
    <script src="/Template/Delicious/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="/Template/Delicious/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Template/Delicious/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/Template/Delicious/assets/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/Template/Delicious/assets/js/main.js"></script>

</body>

</html>