<ul class="nav pull-right">
    @if (Request.IsAuthenticated)
    {
        if (this.User.IsInRole("admin"))
        {
            <li><a href="/Product/Index" target="_blank"><span class="icon-user"></span> Admin Panel </a></li>
            <li><a href="/Account/UserProfil"><span class="icon-edit"></span> Profile</a></li>
            <li><a href="/Account/Index">@User.Identity.Name</a></li>
            <li class="label-warning"><a href="/Account/LogOut" style="color:white"><span class="icon-remove"></span> Log Out</a></li>
        }
        else
        {
            <li class="active"><a href="/Home/Index">Home</a></li>
            <li><a href="/Home/HomeAbout">About</a></li>
            <li><a href="/Home/Menu">Menu</a></li>
            <li><a href="/Home/Address">Contact</a></li>
            <li><a href="/Account/UserProfil"><span class="icon-edit"></span> Profile</a></li>
            <li><a href="/Account/Index">@User.Identity.Name</a></li>
            <li><a href="/Basket/Index">@Html.Action("Summary", "Basket")</a></li>
            <li><a href="/Account/LogOut" style="color:white"><span class="icon-remove"></span> Log Out</a></li>
        }
    }
    else
    {
        <li class="active"><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/HomeAbout">About</a></li>
        <li><a href="/Home/Menu">Menu</a></li>
        <li><a href="/Home/Address">Contact</a></li>
        <li><a href="/Basket/Index">@Html.Action("Summary", "Basket")</a></li>
        <li><a href="/Account/Register">Register</a></li>
        <li><a href="/Account/Login">Login</a></li>
       
    }
</ul>
